{% extends 'base.html' %}
{% block body %}
    </br>
    <div class="row">
        <div class="span12">
            <h1 class="text-info">Smash and share your links with all the power of the runes!</h1>
        </div>
    </div>
    </br> </br> </br>
    <div class="row">
        <div class="span8">
            <h2 class="text-success">How does it work?</h2>
            <ul>
                <li><h3>Take your link</h3></li>
                <li><h3>Paste it in Dwarf</h3></li>
                <li><h3>Short!</h3></li>
                <li><h3>Share it</h3></li>
                <li><h3>See the metrics</h3></li>
                <li><h3>gain Achievements</h3></li>
            </ul>
        </div>
        <div class="span3 offset1">
            <img src="{{ STATIC_URL }}img/dwarf.png" alt="dwarf-logo">
        </div>
    </div>
{% endblock body %}
