{% extends 'base.html' %}
{% block body %}
    </br>
    <div class="row">
        <div class="span12">
            <h1 class="text-info">Smash and share your links with all the power of the runes!</h1>
        </div>
    </div>
    </br> </br> </br>
    <div class="row">
        <div class="span4">
            <h2 class="text-success">How does it work?</h2>
            <ul>
                <li><h3>Take your link</h3></li>
                <li><h3>Paste it in Dwarf</h3></li>
                <li><h3>Short!</h3></li>
                <li><h3>Share it</h3></li>
                <li><h3>See the metrics</h3></li>
                <li><h3>gain Achievements</h3></li>
            </ul>
        </div>
        <div class="span4">
            <h2 class="text-success">Realtime metrics</h2>
            <ul>
                <li><h3>Registered users: <span class="text-error">{{total_users}}</span></h3></li>
                <li><h3>Created links: <span class="text-error">{{total_links}}</span></h3></li>
                <li><h3>Times clicked: <span class="text-error">{{total_clicks}}</span></h3></li>
            </ul>
        </div>

        <div class="span3">
            <img src="{{ STATIC_URL }}img/dwarf.png" alt="dwarf-logo">
        </div>
    </div>

{% endblock body %}
