{% extends "base.html" %}

{% block body%}
    Dashboard!

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
              <th>Counter</th>
              <th>Token</th>
              <th>Title</th>
              <th>Original URL</th>
              <th>Host</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <th>{{link.counter}}</th>
                <td><a href={% url "forwarder-forward" link.token %}>{% url "forwarder-forward" link.token %}</a></td>
                <th>{{link.title}}</th>
                <td><a href="http://{{link.url}}">{{link.url}}</a></td>
                <td><a href="http://{{link.host}}">{{link.host}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body%}