{% extends "base.html" %}
{% load faviconfilters %}

{% block body %}
    Dashboard!

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
              <th></th>
              <th>Counter</th>
              <th>Token</th>
              <th>Title</th>
              <th>Original URL</th>
              <th>Host</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <th> <img src="{{ link.host|host_favicon }}" alt="{{link.host}} favicon"></th>
                <th>{{link.counter}}</th>
                <td><a href={% url "forwarder-forward" link.token %}>{% url "forwarder-forward" link.token %}</a></td>
                <th>{{link.title}}</th>
                <td><a href="http://{{link.url}}">{{link.url}}</a></td>
                <td><a href="http://{{link.host}}">{{link.host}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="pager">
            <li class="previous {% if actual_page <= 1 %}disabled {% endif %} ">
                    <a href="
                        {% if actual_page > 1 %} 
                            {% url "userprofile-dashboard" %}?page={{ actual_page|add:-1 }}
                        {% else %}
                            #
                        {% endif %}
                    ">← Older</a>
            </li>
            <li class="next {% if actual_page >= total_pages %}disabled {% endif %} ">
                <a href="
                    {% if actual_page < total_pages %} 
                        {% url "userprofile-dashboard" %}?page={{ actual_page|add:1 }}
                    {% else %}
                        #
                    {% endif %}
                ">Newer →</a>
            </li>
        </ul>
    </div>
{% endblock body%}