{% extends "base.html" %}
{% load faviconfilters %}
{% load datefilters %}
{% load achievementfilters %}

{% block body %}
<div class="row">
    <div class="span7">
        <h3>Notifications:</h3>
        {% for notification in notifications %}
        <div class="well">
            <div class="row-fluid">
                <div class="span2">
                    <img src="{{ notification.image }}" alt="{{notification.title}}" width="40"></img>
                </div>
                <div class="span10">
                    <strong>{{notification.title}}</strong>
                    {{notification.description}}
                    on <strong>{{notification.date |from_unix_timestamp|date:"M j, Y"}}</strong>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span12">
                <h3>Stats:</h3>
                <div class="well">
                {% for k, v in stats.items %}
                    <div class="row-fluid">
                        <div class="span5">
                            <strong>{{k}}</strong>
                        </div>
                        <div class="span6">
                           <span class="badge badge-inverse">{{v}}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>Latest links:</h3>
                <div class="well">
                {% for link in links %}
                    <div class="row-fluid">
                        <div class="span1">
                            <span class="badge badge-inverse">{{link.clicks}}</span>
                        </div>
                        <div class="span1">
                            <img src="{{ link.host|host_favicon }}" alt="{{link.host}} favicon">
                        </div>
                        <div class="span10">
                            <a href={% url "forwarder-forward" link.token %}>
                                {% if link.title == "No title" %} 
                                    {{link.url}}
                                {% else %}
                                    {{link.title}}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>Latest Achievements:</h3>
                <div class="well">
                    <div class="row-fluid">
                    {% for achievement in achievements %}
                        <div class="span3">
                            <img src="{{ achievement.achievement.image | achievement_image }}" alt="{{achievement.achievement.name}}" width="60"></img>  
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}