{% extends 'base.html' %}
{% block body%}

<form id="signup-form" action="{% url 'userprofile-signup' %}" method="post" class="form-horizontal">{% csrf_token %}
    {% if form.username.errors %}
        <div id="username-control-group" class="control-group error">
    {% else %}
        <div id="username-control-group" class="control-group">
    {% endif %}
      <label class="control-label" for="id_username">Username</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          {{ form.username }}
        </div>
        <span id="username-help-inline" class="help-inline">
             {% if form.username.errors %}
                {{ form.username.errors.as_text|cut:"*" }}
             {% endif %}
        </span>
      </div>
    </div>

    {% if form.email.errors %}
        <div id="email-control-group" class="control-group error">
    {% else %}
        <div id="email-control-group" class="control-group">
    {% endif %}
      <label class="control-label" for="id_email">email</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope-alt"></i></span>
          {{ form.email }}
        </div>
        <span id="email-help-inline" class="help-inline">
            {% if form.email.errors %}
                {{ form.email.errors.as_text|cut:"*" }}
            {% endif %}
        </span>
      </div>
    </div>

    {% if form.password1.errors or form.password2.errors %}
        <div id="password1-control-group" class="control-group error">
    {% else %}
        <div id="password1-control-group" class="control-group">
    {% endif %}
      <label class="control-label" for="id_password1">Password</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span>
          {{ form.password1 }}
        </div>
        <span id="password1-help-inline" class="help-inline">
            {% if form.password1.errors or form.password2.errors %}
                {{ form.password2.errors.as_text|cut:"*" }}
            {% endif %}
        </span>
      </div>
    </div>

    {% if form.password1.errors or form.password2.errors %}
        <div id="password2-control-group" class="control-group error">
    {% else %}
        <div id="password2-control-group" class="control-group">
    {% endif %}
      <label class="control-label" for="id_password2">Repeat password</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span>
          {{ form.password2 }}
        </div>
        <span id="password2-help-inline" class="help-inline">
            {% if form.password1.errors or form.password2.errors %}
                {{ form.password2.errors.as_text|cut:"*" }}
            {% endif %}
        </span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Signup</button>
</form>
{% endblock body %}

{% block js %}
<script src="{{ STATIC_URL }}js/signup.js"></script>
{% endblock js %}